#title {
    font-family: "Segoe UI";
    font-size: 1.2em; 
}

#directions {
    font-family: "Segoe UI";
    font-size: 1em;
}

#action {
    font-family: "Segoe UI";
    font-size: 1em;
}

#twiddles {
    font-family: "Segoe UI";
    font-size: 1em;

    width: 8em;
    height: 30px;
    /* border: 1px solid #999; */
    font-size: 18px;
    color: #000000;
    background-color: #eee;
}


.button {
    background-color: rgb(118, 212, 236);
    border: 0.02em solid black;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Segoe UI";
}

.button:hover {
    background-color: #4CAF50;
    color: white;
}

.button:disabled {
    background-color: #54c558;
    color: white;
}

.button:active {
    background-color: #3e8e41;
}

#button-twiddle {
    font-size: 1.5em;
}

#button-reset {
    font-size: 1em;
}


/* Drop down */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
padding: 12px 16px;
z-index: 1;
}

.dropdown:hover .dropdown-content {
display: block;
}

li {
    padding-top: 1em;
}